PORT=3000
HOST=0.0.0.0

# Base URL for dedicated capacity endpoint
PBI_BASE_URL=https://8457d0abf1ea4dd180beb110936c5752.pbidedicated.windows.net
PBI_CAPACITY_ID=8457d0ab-f1ea-4dd1-80be-b110936c5752
PBI_WORKLOAD=QES
PBI_SERVICE=QueryExecutionService
PBI_VISIBILITY=automatic/public

# Do not include the "MWCToken " prefix, only token value
PBI_TOKEN=replace_with_mwc_token

PBI_DATASET_ID=6941fd63-f2b2-4d8c-90cd-646cd8a1b092
PBI_REPORT_ID=e99ede56-8b35-4ce0-b0a8-0dc8581c09ed
PBI_VISUAL_ID=114a86626c5b363f41e8
PBI_MODEL_ID=10857323
PBI_DATA_VOLUME=500
PBI_SK_FONTE_ENERGIA=0D
PBI_SK_USINA_LEILAO=0D
PBI_OUTPUT_FILE=data/empreendimentos.json
