PBI_BASE_URL=https://8457d0abf1ea4dd180beb110936c5752.pbidedicated.windows.net
PBI_CAPACITY_ID=8457d0ab-f1ea-4dd1-80be-b110936c5752
PBI_WORKLOAD=QES
PBI_SERVICE=QueryExecutionService
PBI_VISIBILITY=automatic/public

# Do not include the "MWCToken " prefix.
PBI_TOKEN=replace_with_mwc_token

PBI_OUTPUT_FILE=data/empreendimentos.json
PBI_TEMPLATE_FILE=data/empreendimento-query-templates.json
PBI_EMPREENDIMENTO_OUTPUT_DIR=data/empreendimento-data
PBI_START_INDEX=0
# PBI_END_INDEX=99
PBI_FORMATTED_OUTPUT_DIR=data/empreendimento-data-formatted
PBI_VALIDATE_SAMPLE_SIZE=10
